# .env

# CONFIGURAÇÕES ESSENCIAIS
DOMAIN="seudominio.com.br"
EMAIL="seu-email@exemplo.com"
CF_API_TOKEN="SEU_API_TOKEN_AQUI"

# CONFIGURAÇÕES DO SISTEMA 
PROJECT_PORT="8081" # só mude se essa porta estiver ocupada na sua maquina
PROJECT_USER="ubuntu" # coloque o mesmo usuário onde clonou o projeto

# GUNICORN
GUNICORN_WORKERS=1
GUNICORN_THREADS=2
GUNICORN_TIMEOUT=60
GUNICORN_MAX_REQUESTS=500
GUNICORN_JITTER=50